body {
    margin: auto;
    width: 900px;
}

.container {
    
    display: flex;
}

.container div {
    width: 100px;
    height: 100px;
}

div {
    border: solid black 2.5px;
    
}

.outMomentum {
    background-color: aquamarine;
}

.leftMomentum {
    background: linear-gradient(to left, #ffffff 0%, #00ffff 100%);
}

.rightMomentum {
    background: linear-gradient(to left, #00ffff 0%, #ffffff 100%);
}