body {
    padding: 10px;
    margin: auto;
    width: 90vw;
    font-family: 'Noto Sans JP', sans-serif;
}

h1, h3 {
    padding-left: 2.5px;
}

.poolContainer {
    border: solid 2.5px gray;
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.noEnergy {
    width: 10vw;
    height: 50vh;
}

.buttonContainer {
    display: flex;
    padding: 30px;
}

.buttonContainer button{
    margin: auto;
    background-color: white;
    font-size: medium;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
}

.outwardMomentum {
    background-color: #00ffff;
}

.leftMomentum {
    background: linear-gradient(to left, #ffffff 0%, #00ffff 100%);
}

.rightMomentum {
    background: linear-gradient(to left, #00ffff 0%, #ffffff 100%);
}

.hasEnergy {
    width: calc((10vw) - 2px);
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-top: none;
    border-bottom: none;
    height: 50vh;
}